<div class="left-side">
	<div class="logo-container">
		<h1 class="left-logo">DAIRY APP</h1>
		<h2 class="sub-logo">Comment with no sense</h2>
	</div>
</div>
<div class="right-side">
	<div class="flex-container">
		<div class="task-list">
			<div class="header-box">
				Items
			</div>
			<div class="inputs-row">
				<input type="text" name="task-name" placeholder="Type name here...">
				<input type="button" name="search-btn" value="Add new">
			</div>

			<div class="task-row">
				<div class="task-title">
					First item with custom name <span>132</span>

					<input class="task-delete-btn" type="button" name="task-delete-btn" value="Delete">
				</div>
			</div>

			<div class="task-row active">
				<div class="task-title">
					Second item is active <span>3</span>

					<input class="task-delete-btn" type="button" name="task-delete-btn" value="Delete">
				</div>
			</div>

		</div>

		<div class="task-comments">
			<div class="header-box">
				Comments #2
			</div>


			<div class="comment-item">
				<div class="comment-logo"></div>
				<div class="comment-box">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source
				</div>
			</div>


			<div class="comment-item">
				<div class="comment-logo"></div>
				<div class="comment-box">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source
				</div>
			</div>

			<div class="comment-item">
				<div class="comment-logo"></div>
				<textarea></textarea>
			</div>

		</div>
	</div>
</div>