  .left-side {
  	background-color: #2b2f3d;
  	height: 100%;
  	width: 300px;
  	position: fixed;
  }

  * {
  	font-weight: lighter;
  }

  .logo-container {
  	padding:0 25px;
  }
  
  .left-logo {
  	margin-bottom: 10px;
  	font-size: 35px;
  	color: #fff
  }

  .sub-logo {
  	margin: 0;
  	color: gray;
  	font-size: 22px;
  }

  .right-side {
  	width: calc(100% - 300px);
  	float: right;
    min-height: 100%;
    background-color: #f1f1f1;
  }

  .flex-container {
  	display: flex;
  	justify-content: space-around;
  }

  .flex-container > * {
  	background-color: #f7f7f7;
  	margin: 10px;
   height: max-content;
   padding: 20px;
   font-size: 30px;
   width: 50%;
   margin: 10px;
   min-height: 400px;
   box-shadow: 0px 0px 5px grey;
 }


 .mg-btm-25 {
   margin-bottom: 25px;
 }

